h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

body {
    background-color: bisque;
}

.cards {
    justify-content: center;
    background-image: url("./download.jpeg");
    display: grid;
    flex-wrap: wrap-reverse;
    height: 300px;
    width: 13%;
    border: solid;
    border-radius: 15px;
    border-color: black;
    background-color: white;
    object-fit: fill;

}

