body {
    background-image: url(images/wallpaper.jpeg);
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: #ffcb05;
    padding: 0px;
    line-height: 0%;
}

.reset {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    background-color: #ffcb05;
    cursor: pointer;
}

.edition {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    padding: 0px;
    color: #ffcb05;
    line-height: 0%;
    /* padding-bottom: 75px; */
}

/* .score {
    text-align: right;
    color: coral;
    font-family: 'Dancing Script', cursive;
    padding-right: 40px;
} */

body {
    background-color: bisque;
}

 .container {
     text-align: center;
 }

 .tiles {
     display: inline-block;
     width: 150px;
     height: 175px;
     cursor: pointer;
     border: 1px solid black;
     background-color: beige;
     margin: 5px;
     transform: rotateY(180deg);
 }

 .pokeback {
     background-image: url(images/pokeback.jpeg);
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .blastoise {
     background-image: url(images/blastoise.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center;
    
 }

 .charmander {
     background-image: url(images/charizard.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .pikachu {
     background-image: url(images/pikachu.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .pokeball {
     background-image: url(images/pokeballs.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .squirtle {
     background-image: url(images/squirtle.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center; 
    }

 .zapdos {
     background-image: url(images/zapdos.png);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center; 
    }

